@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans", sans-serif;  
}


#hobbies {
  background: linear-gradient(45deg, #F3E7E9, #E3EEFF);
  background-size: 400% 400%;
  animation: GradientBackground 1s ease infinite;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
};
